<div class="max-w-8xl mx-auto py-8 md:py-16 lg:py-24 px-4 md:px-6">
  <!-- Header -->
  <div class="mb-16 md:mb-24 lg:mb-36">
    <app-header title="About Us"></app-header>
  </div>

  <!-- Main Content -->
  <div
    class="grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-12 lg:gap-16 items-center"
  >
    <!-- Left Column - Text Content -->
    <div class="w-full">
      <h2
        class="text-2xl md:text-[28px] lg:text-[32px] xl:text-[38px] font-medium font-kaisei mb-4 md:mb-6 leading-tight"
      >
        Lighting the Future with Precision <br/>and Creativity
      </h2>

      <p
        class="text-secondary-text font-medium text-base sm:text-xl xl:text-[22px] mb-6 md:mb-10 leading-relaxed"
      >
        ARA Lighting is part of the leading ARA Group, originally founded with
        American roots. Established in 2020 and headquartered in Bahrain, ARA
        Lighting is a specialist in advanced lighting solutions across the Gulf
        and international markets.
      </p>

      <div
        class="mb-20 md:mb-0 flex flex-col gap-6 text-lg lg:text-2xl font-bold font-kaisei"
      >
        <div class="bullet-point">1000+ Happy Clients</div>
        <div class="bullet-point">40+ Projects</div>
        <div class="bullet-point">30+ Professional Partners</div>
      </div>
    </div>

    <!-- Right Column - Image Grid -->
    <div class="w-full flex flex-col items-center ">
      <div class="flex ">

        <img
          src="/assets/top-left.png"
          alt="Corridor with linear lighting design"
          class="w-[309px] h-[254px] "
        />
        <img
          src="/assets/top-right.png"
          alt="Corridor with linear lighting design"
          class="w-[220px] h-[262px] object-cover -translate-y-12 md:-translate-y-16 lg:-translate-y-18"
        />
      </div>
      <div class="flex ">
        <div class="w-2/5">
          <img
          src="/assets/bottom-left.png"
          alt="Corridor with linear lighting design"
          class="w-[220px] h-[262px] object-cover"
          />
        </div>
        <img
          src="/assets/bottom-right.png"
          alt="Corridor with linear lighting design"
          class="w-[309px] h-[254px] object-cover -translate-y-12 md:-translate-y-16 lg:-translate-y-18"
        />
      </div>
    </div>
  </div>
</div>
