<!-- navbar.component.html -->
<section
  class="bg-primary-bg md:sticky md:top-0 z-[999]"
  [dir]="languageService.getCurrentLanguage() === 'ar' ? 'rtl' : 'ltr'"
>
  <nav
    class="max-w-8xl mx-auto flex items-center justify-between py-5 px-4 md:px-6"
  >
    <!-- Logo -->
    <div class="flex-shrink-0">
      <img src="/assets/logo.png" alt="logo" class="h-10" />
    </div>

    <!-- Desktop Menu -->
    <ul class="hidden lg:flex gap-10 text-lg">
      <li
        routerLink="/"
        routerLinkActive="text-active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        class="cursor-pointer hover:text-active-link"
      >
        {{ "navbar.home" | translate }}
      </li>
      <li
        routerLink="/services"
        routerLinkActive="text-active-link"
        class="cursor-pointer hover:text-active-link"
      >
        {{ "navbar.services" | translate }}
      </li>
      <li
        routerLink="/projects"
        routerLinkActive="text-active-link"
        class="cursor-pointer hover:text-active-link"
      >
        {{ "navbar.projects" | translate }}
      </li>
      <li
        routerLink="/interior-light"
        routerLinkActive="text-active-link"
        class="cursor-pointer hover:text-active-link"
      >
        {{ "navbar.interiorLight" | translate }}
      </li>
      <li
        routerLink="/about-us"
        routerLinkActive="text-active-link"
        class="cursor-pointer hover:text-active-link"
      >
        {{ "navbar.aboutUs" | translate }}
      </li>
      <li
        routerLink="/contact-us"
        routerLinkActive="text-active-link"
        class="cursor-pointer hover:text-active-link"
      >
        {{ "navbar.contactUs" | translate }}
      </li>
    </ul>

    <div class="flex gap-2">
      <button
        (click)="switchLang()"
        class="px-3 py-1 rounded hover:text-active-link text-lg cursor-pointer"
      >
        {{ languageService.getCurrentLanguage() === "ar" ? "English" : "عربي" }}
      </button>
    </div>

    <!-- Hamburger Icon (Mobile Only) -->
    <button
      (click)="toggleSidebar()"
      class="lg:hidden"
      aria-label="Toggle navigation menu"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        aria-hidden="true"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        />
      </svg>
    </button>
  </nav>

  <!-- Sidebar Drawer -->
  <div
    class="fixed top-0 left-0 h-full bg-primary-bg w-[70vw] md:w-[50vw] shadow-lg transform transition-transform duration-300 ease-in-out z-[999]"
    [ngClass]="{
      '-translate-x-full': !isSidebarOpen,
      'translate-x-0': isSidebarOpen
    }"
  >
    <div class="p-5 flex justify-between items-center border-b">
      <div class="flex-shrink-0">
        <img src="/assets/logo.png" alt="logo" class="h-10" />
      </div>
      <button (click)="toggleSidebar()" aria-label="Close menu">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>
    <ul class="flex flex-col p-5 gap-4 text-lg">
      <li
        (click)="toggleSidebar()"
        routerLink="/"
        routerLinkActive="text-active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        class="cursor-pointer hover:text-active-link"
      >
        <span class="pi pi-home text-2xl me-2"></span>
        {{ "navbar.home" | translate }}
      </li>
      <li
        (click)="toggleSidebar()"
        routerLink="/services"
        routerLinkActive="text-active-link"
        class="cursor-pointer hover:text-active-link"
      >
        <span class="pi pi-briefcase text-2xl me-2"></span>
        {{ "navbar.services" | translate }}
      </li>
      <li
        (click)="toggleSidebar()"
        routerLink="/projects"
        routerLinkActive="text-active-link"
        class="cursor-pointer hover:text-active-link"
      >
        <span class="pi pi-images text-2xl me-2"></span>
        {{ "navbar.projects" | translate }}
      </li>
      <li
        (click)="toggleSidebar()"
        routerLink="/interior-light"
        routerLinkActive="text-active-link"
        class="cursor-pointer hover:text-active-link"
      >
        <span class="pi pi-lightbulb text-2xl me-2"></span>
        {{ "navbar.interiorLight" | translate }}
      </li>
      <li
        (click)="toggleSidebar()"
        routerLink="/contact-us"
        routerLinkActive="text-active-link"
        class="cursor-pointer hover:text-active-link"
      >
        <span class="pi pi-envelope text-2xl me-2"></span>
        {{ "navbar.contactUs" | translate }}
      </li>
    </ul>
  </div>

  <!-- Backdrop -->
  <div
    *ngIf="isSidebarOpen"
    (click)="toggleSidebar()"
    class="fixed inset-0 bg-black opacity-50 z-50"
  ></div>
</section>
