<section class="bg-secondary-bg relative overflow-hidden py-28">
  <div
    class="absolute inset-0 flex justify-center items-center pointer-events-none"
  >
    <img
      src="/assets/rectangle-background.png"
      alt="cta-bg"
      class="object-contain opacity-60"
    />
  </div>
  <h2 class="text-center text-[130px] font-kaisei font-medium relative z-10">
    Ara Lightening<br />Portfolio
  </h2>
  <div class="flex justify-center gap-4 relative z-10">
    <button
      class="bg-white text-xl font-kaisei cursor-pointer font-medium text-black px-20 py-3 rounded-full hover:bg-opacity-90 transition-all flex items-center gap-2"
    >
      Get In Touch
      <img src="/assets/arrow-right.png" alt="arrow-right" />
    </button>
    <button
      class="text-xl font-kaisei cursor-pointer border-2 border-white font-medium text-white px-15 py-3 rounded-full hover:bg-opacity-90 transition-all flex items-center gap-2"
    >
      Download Portfolio
      <img src="/assets/arrow-right-white.png" alt="arrow-right" />
    </button>
  </div>
</section>
