<section class="bg-secondary-bg relative overflow-hidden py-28">
  <div
    class="absolute inset-0 flex justify-center items-center pointer-events-none"
  >
    <picture>
      <source
        srcset="/assets/webps/rectangle-background.webp"
        type="image/webp"
      />
      <img
        src="/assets/rectangle-background.png"
        alt="cta-bg"
        class="object-contain opacity-60"
        loading="lazy"
        decoding="async"
      />
    </picture>
  </div>
  <h2
    class="text-center text-4xl sm:text-6xl md:text-8xl lg:text-[8.125rem] font-kaisei font-medium relative z-10 mb-6 md:mb-10"
  >
    Ara Lightening<br />Portfolio
  </h2>
  <div
    class="flex flex-col items-center md:flex-row justify-center gap-4 relative z-10 px-4"
  >
    <app-button
      text="Get In Touch"
      variant="primary"
      icon="/assets/webps/arrow-right.webp"
      iconAlt="arrow-right"
    ></app-button>
    <app-button
      text="Download Portfolio"
      variant="secondary"
      icon="/assets/webps/arrow-right-white.webp"
      iconAlt="arrow-right"
    ></app-button>
  </div>
</section>
