<section>
  <h3>Our Location & Connection info</h3>
  <p>
    We’d love to hear from you. Whether you have a question about our services,
    need assistance, or just want to get in touch — we’re here to help.
  </p>
  <ul>
    <li>Company Name: Ara Contracting W.L.L</li>
    <li>
      Address: pt. 1252, Building 2420, Road 2831 Complex 428, Seef Area,
      Bahrain For general inquiries or business communication, please email:
    </li>
    <li>Email: r.abdullah&#64;ara-lighting.com</li>
    <li>Authorized Contact: Mr. Rami Abdullah Ali</li>
  </ul>
  <aside class="flex gap-5 w-5 h-5">
    <img src="/assets/socials/facebook.png" alt="map" />
    <img src="/assets/socials/instagram.svg" alt="map" />
    <img src="/assets/socials/linkedin.svg" alt="map" />
  </aside>

  <aside class="map-container">
    <div id="map"></div>
  </aside>
</section>
