<section class="flex flex-col lg:flex-row w-full gap-10">
  <div class="w-full lg:w-1/3 flex flex-col gap-6">
    <h3 class="text-3xl lg:text-4xl font-medium font-kaisei">
      Our Location & <br />
      Connection info
    </h3>
    <p class="text-xl lg:text-2xl font-light">
      We'd love to hear from you. Whether you have a question about our
      services, need assistance, or just want to get in touch — we're here to
      help.
    </p>
    <ul
      class="flex flex-col gap-4 font-semibold list-disc list-inside text-lg lg:text-xl"
    >
      <li>Company Name: Ara Contracting W.L.L</li>
      <li>
        Address: pt. 1252, Building 2420, Road 2831 Complex 428, Seef Area,
        Bahrain For general inquiries or business communication.
      </li>
      <li>Email: r.abdullah&#64;ara-lighting.com</li>
      <li>Authorized Contact: Mr. Rami Abdullah Ali</li>
    </ul>
    <aside class="flex gap-5">
      <img
        src="/assets/socials/facebook.png"
        alt="map"
        class="w-7 h-7 cursor-pointer"
      />
      <img
        src="/assets/socials/instagram.svg"
        alt="map"
        class="w-7 h-7 cursor-pointer"
      />
      <img
        src="/assets/socials/linkedin.svg"
        alt="map"
        class="w-7 h-7 cursor-pointer"
      />
    </aside>
  </div>

  <aside class="map-container w-full lg:w-2/3">
    <div id="map" class="w-full h-full"></div>
  </aside>
</section>
