<button
  [class]="
    (fullWidth
      ? 'hover:shadow-[0_0_25px_rgba(255,255,255,0.5)]'
      : 'glow-button') +
    ' text-base sm:text-lg font-kaisei cursor-pointer font-medium px-8 sm:px-12 md:px-20 py-2.5 sm:py-3 rounded-full transition-all flex items-center justify-center gap-2 ' +
    (variant === 'primary'
      ? 'bg-white text-black'
      : 'border-2 border-white text-white') +
    (fullWidth ? ' w-full' : '')
  "
>
  {{ text }}
  <img
    [src]="icon"
    [alt]="iconAlt"
    class="w-4 sm:w-5"
    [ngClass]="
      languageService.getCurrentLanguage() === 'ar' ? 'rotate-180' : ''
    "
  />
</button>
