html,
body {
  height: 100%;
}

body {
  font-family: sans-serif;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

img,
svg {
  vertical-align: middle;
}

.marquee-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: transparent;
  user-select: none;
  --gap: 20px;
}

.marquee {
  display: flex;
  overflow: hidden;
  position: relative;
}

.marquee ul {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.text-track {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  animation: scroll 30s linear infinite;
  color: white;
  padding: 1rem 0;
  will-change: transform;
}

.text-track svg {
  margin: 0 1rem;
  vertical-align: middle;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100%));
  }
}

/* RTL Animation */
[dir="rtl"] .text-track {
  animation: scroll-rtl 30s linear infinite;
}

@keyframes scroll-rtl {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
