<div class="marquee-container">
  <div class="marquee">
    <ul>
      <li>
        <div class="text-track font-medium font-kaisei text-8xl">
          Visionary with Artistic Vision
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="130"
            height="130"
            fill="currentColor"
            class="bi bi-dot mx-8"
            viewBox="0 0 16 16"
          >
            <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"></path>
          </svg>
          Visionary with Artistic Vision
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="130"
            height="130"
            fill="currentColor"
            class="bi bi-dot mx-8"
            viewBox="0 0 16 16"
          >
            <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"></path>
          </svg>
          Visionary with Artistic Vision
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="130"
            height="130"
            fill="currentColor"
            class="bi bi-dot mx-8"
            viewBox="0 0 16 16"
          >
            <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"></path>
          </svg>
          Visionary with Artistic Vision
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="130"
            height="130"
            fill="currentColor"
            class="bi bi-dot mx-8"
            viewBox="0 0 16 16"
          >
            <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"></path>
          </svg>
        </div>
      </li>
    </ul>
    <ul aria-hidden="true">
      <li>
        <div class="text-track font-medium font-kaisei text-8xl">
          Visionary with Artistic Vision
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="130"
            height="130"
            fill="currentColor"
            class="bi bi-dot mx-8"
            viewBox="0 0 16 16"
          >
            <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"></path>
          </svg>
          Visionary with Artistic Vision
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="130"
            height="130"
            fill="currentColor"
            class="bi bi-dot mx-8"
            viewBox="0 0 16 16"
          >
            <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"></path>
          </svg>
          Visionary with Artistic Vision
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="130"
            height="130"
            fill="currentColor"
            class="bi bi-dot mx-8"
            viewBox="0 0 16 16"
          >
            <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"></path>
          </svg>
          Visionary with Artistic Vision
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="130"
            height="130"
            fill="currentColor"
            class="bi bi-dot mx-8"
            viewBox="0 0 16 16"
          >
            <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"></path>
          </svg>
        </div>
      </li>
    </ul>
  </div>
</div>
