html,
body {
  height: 100%;
}

body {
  font-family: sans-serif;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

img,
svg {
  vertical-align: middle;
}

.marquee-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: transparent;
}

.marquee {
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.text-track {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  animation: marquee-right infinite;
  animation-timing-function: linear;
  animation-duration: 50s;
  color: white;
  padding: 1rem 0;
  will-change: transform;
}

.text-track svg {
  margin: 0 1rem;
  vertical-align: middle;
}

@keyframes marquee-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 1px));
  }
}
