<section>
  <div
    class="relative py-44 bg-cover bg-center bg-no-repeat flex items-center justify-center"
    style="background-image: url('assets/aboutus-hero.jpg')"
  >
    <div class="absolute inset-0 bg-black/50 opacity-80"></div>
    <app-section-header title="Contact Us"></app-section-header>
  </div>

  <main
    class="max-w-8xl mx-auto flex flex-col py-16 gap-24 lg:gap-44 px-4 md:px-6"
  >
    <app-form></app-form>
    <app-company-map></app-company-map>
  </main>
  <app-cta></app-cta>
</section>
