<section >
  <div
    class="relative py-32 bg-cover bg-center bg-no-repeat flex items-center justify-center"
    style="background-image: url('assets/aboutus-hero.jpg')"
  >
    <div class="absolute inset-0 bg-black/50 opacity-80"></div>
    <h2
      class="font-medium font-kaisei z-50 text-4xl md:text-5xl lg:text-[68px] text-center px-4"
    >
      About Us
    </h2>
  </div>

  <main
    class="flex flex-col lg:flex-row max-w-8xl mx-auto py-16 md:py-24 lg:py-32 gap-8 lg:gap-12 px-4 md:px-6 lg:px-8"
  >
    <div class="w-full lg:w-1/2">
      <h2
        class="font-medium font-kaisei text-3xl md:text-4xl lg:text-[40px] mb-4"
      >
        Lighting the Future with <br />
        Precision and Creativity
      </h2>
      <p class="text-lg md:text-xl lg:text-2xl mb-6 lg:mb-8 font-light">
        ARA Group is a dynamic, American-rooted organization headquartered in
        Bahrain, operating across the Gulf region and expanding its influence
        worldwide. Since its establishment in 2020, ARA Group has been committed
        to leading innovation across multiple sectors, including lighting, real
        estate, and contracting. Driven by a passion for excellence, creativity,
        and sustainability, ARA Group has quickly grown into a trusted partner
        for transformative urban and architectural development. Under the ARA
        Group umbrella, three specialized companies operate with distinct but
        complementary
      </p>
      <div class="mb-6 lg:mb-8 flex flex-col gap-2 font-light">
        <h3 class="font-medium text-xl md:text-2xl">Missions</h3>
        <ul class="list-disc list-inside ms-2 text-lg md:text-xl lg:text-2xl">
          <li>ARA Lighting</li>
          <li>ARA Real Estate</li>
          <li>ARA Contracting</li>
        </ul>
      </div>
      <p class="text-lg md:text-xl lg:text-2xl font-light">
        Together, they form a synergy that delivers integrated, forward-thinking
        solutions for modern infrastructure and development projects.
      </p>
    </div>
    <div class="w-full lg:w-1/2 flex flex-col">
      <div class="flex flex-col gap-4">
        <img
          src="/assets/straight-aboutus.png"
          class="w-full md:w-[462px] h-auto md:h-[282px] object-cover self-end"
        />
        <img
          src="/assets/rotated-aboutus.jpg"
          class="md:w-[348px] h-auto md:h-[211px] w-[300px] -rotate-12 -translate-y-12 md:-translate-y-32 object-cover"
        />
      </div>
      <div class="mt-8 lg:mt-auto">
        <ul
          class="flex flex-col gap-4 list-disc list-inside font-semibold text-lg md:text-xl lg:text-2xl"
        >
          <li>1000+ Happy Clients</li>
          <li>40+ Projects</li>
          <li>30+ Professional Partners</li>
        </ul>
      </div>
    </div>
  </main>
</section>
