<section>
  <div
    class="relative py-44 bg-cover bg-center bg-no-repeat flex items-center justify-center"
    style="background-image: url('assets/webps/aboutus-hero.webp')"
  >
    <div class="absolute inset-0 bg-black/50 opacity-80"></div>
    <app-section-header title="About Us"></app-section-header>
  </div>

  <main
    class="flex flex-col lg:flex-row max-w-8xl mx-auto py-16 md:py-24 lg:py-32 gap-8 lg:gap-12 px-4 md:px-6 lg:px-8"
  >
    <div class="w-full lg:w-1/2">
      <h2 class="font-medium font-kaisei text-3xl md:text-4xl mb-4">
        Lighting the Future with <br />
        Precision and Creativity
      </h2>
      <p class="text-lg md:text-xl mb-6 lg:mb-8 font-light">
        ARA Group is a dynamic, American-rooted organization headquartered in
        Bahrain, operating across the Gulf region and expanding its influence
        worldwide. Since its establishment in 2020, ARA Group has been committed
        to leading innovation across multiple sectors, including lighting, real
        estate, and contracting. Driven by a passion for excellence, creativity,
        and sustainability, ARA Group has quickly grown into a trusted partner
        for transformative urban and architectural development. Under the ARA
        Group umbrella, three specialized companies operate with distinct but
        complementary
      </p>
      <div class="mb-6 lg:mb-8 flex flex-col gap-2 font-light">
        <h3 class="font-medium text-xl">Missions</h3>
        <ul class="list-disc list-inside ms-2 text-lg md:text-xl">
          <li>ARA Lighting</li>
          <li>ARA Real Estate</li>
          <li>ARA Contracting</li>
        </ul>
      </div>
      <p class="text-lg md:text-xl font-light">
        Together, they form a synergy that delivers integrated, forward-thinking
        solutions for modern infrastructure and development projects.
      </p>
    </div>
    <div class="w-full lg:w-1/2">
      <picture>
        <source
          srcset="/assets/webps/straight-aboutus.webp"
          type="image/webp"
        />
        <img
          src="/assets/straight-aboutus.png"
          alt="About Aralights - Professional lighting solutions"
          class="w-full h-3/4"
          width="800"
          height="600"
          loading="lazy"
          decoding="async"
        />
      </picture>
    </div>
  </main>
</section>
