<div
  class="relative min-h-screen flex items-center justify-center overflow-hidden"
>
  <video
    class="absolute inset-0 w-full h-full object-cover"
    autoplay
    muted
    loop
    playsinline
    poster="/assets/hero-poster.png"
    preload="auto"
    [attr.src]="'/assets/dimmed-hero.mp4'"
  ></video>

  <div
    class="relative z-50 max-w-8xl mx-auto px-4 sm:px-6 lg:px-8 py-12 sm:py-16 md:py-20 text-center"
  >
    <h1
      class="text-3xl sm:text-4xl md:text-[3.5rem] xl:text-[4.3rem] mb-4 sm:mb-6 font-kaisei font-medium leading-tight animate-title"
    >
      <span class="word">Lighting</span><span class="word-spacer">&nbsp;</span>
      <span class="word">The</span><span class="word-spacer">&nbsp;</span>
      <span class="word">Extraordinary</span><br class="hidden sm:block" />
      <span class="word">With</span><span class="word-spacer">&nbsp;</span>
      <span class="word">Artistic</span><span class="word-spacer">&nbsp;</span>
      <span class="word">Vision</span>
    </h1>

    <p
      class="text-base sm:text-lg md:text-xl mb-6 sm:mb-8 max-w-[758px] mx-auto font-normal px-4 sm:px-0 animate-description"
    >
      We deliver fully integrated lighting solutions for facades, aviation,
      helipads, landscapes, and interior spaces — blending art and engineering
      for a stunning and safe visual experience.
    </p>
    <div class="flex justify-center items-center">
      <app-button
        text="Get In Touch"
        variant="primary"
        icon="/assets/arrow-right.png"
        iconAlt="arrow-right"
      ></app-button>
    </div>
  </div>
</div>
