@import "primeicons/primeicons.css";
@import "tailwindcss";

/* Local font declarations for Kaisei Decol */

@font-face {
  font-family: "Kaisei Decol";
  src: url("fonts/kaiseiDecol/KaiseiDecol-Regular.woff2") format("woff2"),
    url("fonts/kaiseiDecol/KaiseiDecol-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kaisei Decol";
  src: url("fonts/kaiseiDecol/KaiseiDecol-Medium.woff2") format("woff2"),
    url("fonts/kaiseiDecol/KaiseiDecol-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kaisei Decol";
  src: url("fonts/kaiseiDecol/KaiseiDecol-Bold.woff2") format("woff2"),
    url("fonts/kaiseiDecol/KaiseiDecol-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Local font declarations for Cabrito Contrast */
@font-face {
  font-family: "Cabrito Contrast";
  src: url("/fonts/cabrito/CabritoContrast-Thin.woff2") format("woff2"),
    url("/fonts/cabrito/CabritoContrast-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cabrito Contrast";
  src: url("/fonts/cabrito/CabritoContrast-Light.woff2") format("woff2"),
    url("/fonts/cabrito/CabritoContrast-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cabrito Contrast";
  src: url("/fonts/cabrito/CabritoContrast-Regular.woff2") format("woff2"),
    url("/fonts/cabrito/CabritoContrast-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cabrito Contrast";
  src: url("/fonts/cabrito/CabritoContrast-Book.woff2") format("woff2"),
    url("/fonts/cabrito/CabritoContrast-Book.woff") format("woff");
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cabrito Contrast";
  src: url("/fonts/cabrito/CabritoContrast-Medium.woff2") format("woff2"),
    url("/fonts/cabrito/CabritoContrast-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cabrito Contrast";
  src: url("/fonts/cabrito/CabritoContrast-DemiBold.woff2") format("woff2"),
    url("/fonts/cabrito/CabritoContrast-DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cabrito Contrast";
  src: url("/fonts/cabrito/CabritoContrast-Bold.woff2") format("woff2"),
    url("/fonts/cabrito/CabritoContrast-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --body-text: #fffdf3;
  --secondary-text: #cccccc;
  --primary-bg: #272727;
  --secondary-bg: #1e1e1e;
  --active-link: #fed401;

  /* Font families */
  --font-kaisei: "Kaisei Decol", serif;
  --font-cabrito: "Cabrito Contrast", sans-serif;
  --font-cambria: Cambria, "Hoefler Text", "Liberation Serif", Times,
    "Times New Roman", serif;
}

@theme inline {
  --font-kaisei: var(--font-kaisei);
  --font-cabrito: var(--font-cabrito);
  --font-cambria: var(--font-cambria);

  --color-active-link: var(--active-link);
  --color-secondary-text: var(--secondary-text);
  --color-secondary-bg: var(--secondary-bg);
  --color-primary-bg: var(--primary-bg);
}

body {
  color: var(--body-text);
  background-color: var(--primary-bg);
  font-family: var(--font-cabrito);
  font-weight: 500;
}

* {
  transition: all 0.3s ease;
}

.max-w-8xl {
  max-width: 1400px;
}
