<section class="bg-secondary-bg py-16">
  <app-header title="Projects"></app-header>

  <nav class="flex justify-center mt-8 mb-24">
    <ul class="flex bg-[#141414] rounded-full px-6 py-2 shadow-lg gap-4">
      <li class="relative">
        <button
          class="px-5 py-2 rounded-full font-medium text-lg shadow hover:text-yellow-400 text-active-link"
        >
          Interior
        </button>
      </li>
      <li>
        <button
          class="px-5 py-2 rounded-full font-medium text-lg shadow hover:text-yellow-400 text-secondary-text"
        >
          Interior
        </button>
      </li>
      <li>
        <button
          class="px-5 py-2 rounded-full font-medium text-lg shadow hover:text-yellow-400 text-secondary-text"
        >
          Interior
        </button>
      </li>
      <li>
        <button
          class="px-5 py-2 rounded-full font-medium text-lg shadow hover:text-yellow-400 text-secondary-text"
        >
          Interior
        </button>
      </li>
      <li>
        <button
          class="px-5 py-2 rounded-full font-medium text-lg shadow hover:text-yellow-400 text-secondary-text"
        >
          Interior
        </button>
      </li>
      <li>
        <button
          class="px-5 py-2 rounded-full font-medium text-lg shadow hover:text-yellow-400"
        >
          Interior
        </button>
      </li>
    </ul>
  </nav>
  <div>
    <swiper-container
      class="mySwiper"
      space-between="30"
      slides-per-view="3"
      pagination="true"
      pagination-clickable="true"
    >
      <swiper-slide *ngFor="let slide of slides">
        <img src="assets/projects-image.jpg" />
      </swiper-slide>
    </swiper-container>
  </div>
</section>
