<section
  class="bg-secondary-bg py-16"
  [dir]="languageService.getCurrentLanguage() === 'ar' ? 'rtl' : 'ltr'"
>
  <app-header [title]="'homepage.projects.title' | translate"></app-header>

  <nav class="flex justify-center mt-8 mb-10">
    <ul
      class="bg-[#141414] rounded-full px-2 sm:px-4 md:px-6 py-1 sm:py-2 shadow-lg flex flex-wrap justify-center gap-1 sm:gap-2 lg:gap-4"
    >
      <li *ngFor="let item of items; let i = index" class="relative">
        <button
          (click)="activeIndex = i"
          class="px-2 sm:px-3 md:px-5 py-1 sm:py-2 rounded-full font-medium text-sm sm:text-base md:text-lg shadow hover:text-yellow-400 cursor-pointer"
          [ngClass]="{
            'text-secondary-text': activeIndex !== i,
            'text-active-link': activeIndex === i
          }"
          [attr.aria-label]="'Filter by ' + (item | translate)"
          [attr.aria-pressed]="activeIndex === i"
        >
          {{ item | translate }}
        </button>
      </li>
    </ul>
  </nav>
  <!-- Carousel -->
  <div #flickityContainer class="carousel">
    <div class="carousel-cell" *ngFor="let slide of slides; let i = index">
      <div class="carousel-cell-inner relative w-full">
        <div class="relative">
          <img
            src="assets/projects-image.jpg"
            alt="Project Image"
            class="w-full h-[500px] object-cover rounded-[5px]"
          />
          <!-- Full overlay for dimming non-active slides -->
          <div
            class="overlay absolute inset-0 bg-black/50 rounded-[5px] pointer-events-none"
          ></div>
          <!-- Bottom gradient dim for text -->
          <div
            class="absolute left-0 bottom-0 w-full h-20 md:h-[35%] bg-gradient-to-t from-black/70 to-transparent rounded-b-[5px]"
          ></div>
          <div class="absolute bottom-4 left-4 text-white rounded w-full px-4">
            <div class="justify-between items-center hidden md:flex">
              <div class="flex-col gap-2 z-10 font-kaisei flex">
                <span class="text-lg md:text-xl font-medium">
                  {{ "homepage.projects.project.title" | translate }} :
                  {{
                    "homepage.projects.project.details.alYasmenTower.name"
                      | translate
                  }}
                </span>
                <span class="text-base md:text-lg">
                  {{ "homepage.projects.project.client" | translate }} :
                  {{
                    "homepage.projects.project.details.alYasmenTower.client"
                      | translate
                  }}
                </span>
                <span class="text-base">
                  {{ "homepage.projects.project.location" | translate }} :
                  {{
                    "homepage.projects.project.details.alYasmenTower.location"
                      | translate
                  }}
                </span>
              </div>
              <img
                src="assets/arrow-upright.png"
                alt="arrow-right"
                class="w-10 h-10 me-10"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
